<div class="page-name"><%= t('.requests') %></div>

<div class="card-columns">
  <% @requests.each do |request| %>
      <div class="card">
        <div class="card-header">
          <%= request.created_at.strftime('%d/%m/%Y %H:%M:%S') %>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= t('requests.first_name') %>: <%= request.first_name %></li>
          <li class="list-group-item"><%= t('requests.last_name') %>: <%= request.last_name %></li>
          <li class="list-group-item"><%= t('requests.phone_number') %>: <%= request.phone_number %></li>
        </ul>
        <div class="card-footer">
          <%= link_to request do fa_icon "eye 2x" end %>
          <%= link_to new_agreement_path(request_id: request.id) do fa_icon "file 2x" end unless request.agreement %>
          <%= link_to request, method: :delete do fa_icon "trash 2x" end unless request.agreement %>
        </div>
      </div>
  <% end %>
</div>

<%= will_paginate @requests %>