<p>
  <strong>Problem desc:</strong>
  <%= @request.problem_desc %>
</p>

<p>
  <strong>First name:</strong>
  <%= @request.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @request.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @request.phone_number %>
</p>

<%= link_to 'Back', requests_path %>
