<%= render 'shared/navbar', locals: {caller: :start_page } %>

<%= form_for @request do |f| %>

    <% if @request.errors.any? %>
        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><%= t('error') %>!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= t('activerecord.errors.template.header', count: @request.errors.count, model: t('model.request')) %>:

                <ul>
                  <% @request.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
              </div>
            </div>
          </div>
        </div>
    <% end %>


    <div id="fullpage">
      <div class="section section1">
        <div class="container">
          <div class="row">
            <div class="col-md-6 offset-md-2 align-self-center">
              <div class="text"><%= t('.company_desc') %></div>
              <br>
              <a href="#problem" class="btn btn-secondary btn-lg btn-block"><%= t('.describe_a_probem_btn') %></a>
            </div>
            <div class="col-md-3 align-self-center">
              <%= image_tag 'https://image.flaticon.com/icons/svg/265/265667.svg' %>
            </div>
          </div>
        </div>
      </div>
      <div class="section section2">
        <div class="container">
          <div class="row">
            <div class="col-md-6 offset-md-2 align-self-center">
              <div class="text"><%= t('.describe_a_probem') %></div>
              <%= f.text_area :problem_desc, class: 'form-control' %>
              <br>
              <a href="#device" class="btn btn-secondary btn-lg btn-block button-text"><%= t('.choose_device_btn') %></a>
            </div>
            <div class="col-md-3 align-self-center">
              <%= image_tag 'https://image.flaticon.com/icons/svg/653/653273.svg'%>
            </div>
          </div>
        </div>
      </div>
      <div class="section section3">
        <div class="container">
          <div class="row">
            <div class="col-md-6 offset-md-2 align-self-center">
              <div class="text" style="color:white;"><%= t('.choose_device_type') %></div>
                <%= f.collection_select :device_type, DeviceType.order(:name), :id, :name, { include_blank: true},
                                        {class: 'form-control button-text' } %>
              <br>
              <div class="device_brand">
                <div class="text" style="color:white;"><%= t('.choose_device_brand') %></div>
                  <%= f.grouped_collection_select :device_brand, DeviceType.order(:name),
                                                  :device_brands, :name, :id, :short_name, { include_blank: true },
                                                  {class: 'form-control button-text' } %>
                <br>
              </div>
              <div class="device_model">
                <div class="text" style="color:white;"><%= t('.choose_device_model') %></div>
                  <%= f.grouped_collection_select :device_model_id, DeviceBrand.order(:short_name),
                                                  :device_models, :short_name, :id, :name, { include_blank: false},
                                                  {class: 'form-control button-text' } %>
                <br>
              </div>
              <a href="#owner" class="btn btn-secondary btn-lg btn-block button-text"><%= t('.tell_about_yourself_btn') %></a>
            </div>
            <div class="col-md-3 align-self-center">
              <%= image_tag 'https://image.flaticon.com/icons/svg/141/141063.svg' %>
            </div>
          </div>
        </div>
      </div>
      <div class="section section4">
        <div class="container">
          <div class="row">
            <div class="col-md-6 offset-md-2 align-self-center">
              <div class="text"><%= t('requests.first_name') %></div>
              <%= f.text_field :first_name, class: 'form-control button-text' %>
              <br>
              <div class="text"><%= t('requests.last_name') %></div>
              <%= f.text_field :last_name, class: 'form-control button-text' %>
              <br>
              <div class="text"><%= t('requests.phone_number') %></div>
              <%= f.text_field :phone_number, class: 'form-control button-text' %>
              <br>
              <%= f.submit t('.create_request_btn'), class: 'btn btn-secondary btn-lg btn-block button-text' %>
            </div>
            <div class="col-md-3 align-self-center">
              <%= image_tag 'https://image.flaticon.com/icons/svg/265/265666.svg' %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>