<div class="page-name"><%= t('.agreements') %></div>

<div>
  <% if has_role?('acceptor') %>
    <%= link_to t('.new_agreement'), new_agreement_path, class: 'btn btn-outline-secondary' %>
  <% end %>
</div>

<br>

<div class="card-columns">
  <% @agreements.each do |agreement| %>
      <div class="card">
        <div class="card-header">
          <div class="agreement-name">
            <%= "#{t('model.agreement')} №#{agreement.agreement_code}" %>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= t('agreements.first_name') %> <%= agreement.first_name %></li>
          <li class="list-group-item"><%= t('agreements.last_name') %> <%= agreement.last_name %></li>
          <li class="list-group-item"><%= t('agreements.phone_number') %> <%= agreement.phone_number %></li>
        </ul>
        <div class="card-footer">
          <%= link_to agreement do fa_icon "eye 2x" end %>
          <%= link_to edit_agreement_path(agreement) do fa_icon "edit 2x" end %>
          <%= link_to start_repair_agreement_path(agreement) do fa_icon "wrench 2x" end if agreement.technician_id.nil? && has_role?('technician') %>
        </div>
      </div>
  <% end %>
</div>
