<h1>Agreements</h1>

<div>
  <%= link_to 'New Agreement', new_agreement_path, class: 'btn btn-outline-secondary' %>
</div>

<br>

<div class="card-columns">
  <% @agreements.each do |agreement| %>
      <div class="card">
        <div class="card-header">
          <div class="agreement-name">
            <%= agreement.agreement_code %>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">First Name: <%= agreement.first_name %></li>
          <li class="list-group-item">Last Name: <%= agreement.last_name %></li>
          <li class="list-group-item">Phone Number: <%= agreement.phone_number %></li>
        </ul>
        <div class="card-footer">
          <%= link_to 'Show', agreement, class: 'btn btn-outline-secondary' %>
          <%= link_to 'Edit', edit_agreement_path(agreement), class: 'btn btn-outline-secondary' %>
          <%= link_to 'Start repair', start_repair_agreement_path(agreement), class: 'btn btn-outline-secondary' if agreement.technician_id.nil? && has_role?('technician') %>
        </div>
      </div>
  <% end %>
</div>
