<h1><%= t('.agreements') %></h1>

<div>
  <%= link_to t('.new_agreement'), new_agreement_path, class: 'btn btn-outline-secondary' %>
</div>

<br>

<div class="card-columns">
  <% @agreements.each do |agreement| %>
      <div class="card">
        <div class="card-header">
          <div class="agreement-name">
            <%= agreement.agreement_code %>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= t('agreements.first_name') %> <%= agreement.first_name %></li>
          <li class="list-group-item"><%= t('agreements.last_name') %> <%= agreement.last_name %></li>
          <li class="list-group-item"><%= t('agreements.phone_number') %> <%= agreement.phone_number %></li>
        </ul>
        <div class="card-footer">
          <%= link_to t('show'), agreement, class: 'btn btn-outline-secondary' %>
          <%= link_to t('edit'), edit_agreement_path(agreement), class: 'btn btn-outline-secondary' %>
          <%= link_to t('.start_repair'), start_repair_agreement_path(agreement), class: 'btn btn-outline-secondary' if agreement.technician_id.nil? && has_role?('technician') %>
        </div>
      </div>
  <% end %>
</div>
